{% extends "base.html" %}

{% block title %}
Blog posts by {{ taxonomy.name | capitalize }}
{% endblock title %}

{% block content %}
  <h1 class="my-6 text-3xl font-extrabold text-gray-800 dark:text-gray-100">Blog posts by {{ taxonomy.name | capitalize }}</h1>
  <ul class="font-semibold text-white grid gap-2 grid-cols-5">
    {% for term in terms %}
      <li class="inline-block my-2 text-center rounded-lg bg-cyan-600 dark:bg-cyan-500">
       <a class="inline-block w-full px-2 py-3" href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a>
      </li>
    {% endfor %}
    </ul>
{% endblock content %}
