{% import "blog-preview.html" as blog_macros %}
{% extends "base.html" %}

{% block title %}
Posts by tag "{{ term.name }}"
{% endblock title %}


{% block content %}
  <h1 class="my-6 text-3xl font-extrabold text-gray-800 dark:text-gray-100">{{ term.pages | length }} pages tagged with "{{ term.name }}"</h1>
  <ul class="divide-y divide-dashed divide-gray-200 dark:divide-gray-600">
    {% for post in term.pages %}
      {{ blog_macros::blog_preview(post=post) }}
    {% endfor %}
  </ul>
{% endblock content %}
