{% extends "base.html" %}

{% block content %}
<section name="about-me" class="my-4">
  <h1 class="font-extrabold text-3xl mb-4 text-center text-blue-700 dark:text-blue-500">About me</h1>
  <p class="leading-7 dark:text-gray-300">Hey there 👋🏾
    <br />
    I am Nagesh, and I’m working as a software developer @Yelp in Berlin, Germany. I’m more of a generalist developer,
    and I worked on Web, mobile and desktop applications and have a lot of interest for computer security. In fact most
    of the posts you find here on this blog are around security, that’s how much I love computer security.
    I worked on a variety of technologies like Kotlin, Java, JavaScript/TypeScript, Python, Swift, Rust just to name a
    few. You can find me in the links attached to icons in the footer section.
  </p>
</section>
{% endblock content %}
