{% extends "base.html" %}

{% block title %}
{{ page.title | safe }}
{% endblock %}

{% block content %}
<section name="blog-details">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl md:text-4xl font-extrabold text-blue-700 dark:text-blue-400 leading-8 text-center mt-8">
      {{ page.title }}
    </h1>
    <ul class="my-4">
      {% for tag in page.taxonomies.tags %}
      <li
        class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-pink-100 dark:bg-slate-500 text-pink-800 dark:text-gray-100">
        {{ tag }}</li>
      {% endfor %}
    </ul>
    <div class="flex space-x-1 text-sm text-gray-500 dark:text-gray-400 font-semibold">
      <time datetime="2020-03-16">{{ page.date }}</time><span aria-hidden="true"> · </span><span>{{ page.reading_time }} min read</span>
    </div>
  </div>
  <div class="prose dark:prose-invert max-w-none prose-indigo prose-lg my-6 mx-auto prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl">
    {{ page.content | safe }}
    <hr/>
  </div>
  <script src="https://utteranc.es/client.js"
          repo="H4rryp0tt3r/h4rryp0tt3r.github.io"
          id="utterances-box"
          issue-term="title"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</section>
{% endblock content %}