---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}

    {% assign reading_time = post.content | strip_html | number_of_words | plus:91 | divided_by:180 %}
    {% if reading_time <= 1 %}
    {% assign reading_time = '1' | append:' min read' %}
    {% else %}
    {% assign reading_time = reading_time | append:' min read' %}
    {% endif %}

      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} · {{ reading_time }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
